<%- include('includes/head.ejs') %>
  <main>
    <h2>나의 정보</h2>
    <div>
      <p>포인트 : <%= data.point %>P</p>
    </div>
    <article>
      <p>
        아이디 : <%= data.account_id %>
      </p>
      <p>
        닉네임 : <%= data.nickname %>
      </p>
      <p>
        전화번호 : <%= data.phone %>
      </p>
      <p>
        주 소 : <%= data.address %>
      </p>
    </article>
  </main>
  </body>

  </html>