<%- include('includes/head.ejs') %>
  <main>

    <table class="table">
      <% try {%>
        <% if (datas[0].nickname) { %>
          <thead>
            <tr>
              <th scope="col">세탁물 사진</th>
              <th scope="col">신청일자</th>
              <th scope="col">닉네임</th>
              <th scope="col">배송지</th>
              <th scope="col">요청사항</th>
              <th scope="col">주문상태</th>
              <th scope="col">리뷰</th>
            </tr>
          </thead>
          <% } %>
            <tbody>
              <% for (let data of datas) { %>
                <tr>
                  <th scope="row">
                    <img src="<%= data.image%>">
                  </th>
                  <td>
                    <%= data.date%>
                  </td>
                  <td>
                    <%= data.nickname%>
                  </td>
                  <td>
                    <%= data.address%>
                  </td>
                  <td>
                    <%= data.requested%>
                  </td>
                  <td>
                    <% if (member===1) { %>
                      <% switch (data.status) { case 1: %>
                        <button type="button" class="btn btn-secondary status-change" value="<%= data.id %>">수거
                          중</button>
                        <% break; case 2: %>
                          <button type="button" class="btn btn-secondary status-change" value="<%= data.id %>">수거
                            완료</button>
                          <% break; case 3: %>
                            <button type="button" class="btn btn-secondary status-change" value="<%= data.id %>">배송
                              중</button>
                            <% break; case 4: %>
                              <button type="button" class="btn btn-secondary status-change" disabled
                                value="<%= data.id %>">배송
                                완료</button>
                              <% break; default: %>
                                <button type="button" class="btn btn-secondary status-change" disabled
                                  value="<%= data.id %>">대기 중</button>
                                <%break; } %>
                                  <% } else { %>
                                    <% switch (data.status) { case 1: %>
                                      <button type="button" class="btn btn-secondary status-change" disabled
                                        value="<%= data.id %>">수거
                                        중</button>
                                      <% break; case 2: %>
                                        <button type="button" class="btn btn-secondary status-change" disabled
                                          value="<%= data.id %>">수거
                                          완료</button>
                                        <% break; case 3: %>
                                          <button type="button" class="btn btn-secondary status-change" disabled
                                            value="<%= data.id %>">배송 중</button>
                                          <% break; case 4: %>
                                            <button type="button" class="btn btn-secondary status-change" disabled
                                              value="<%= data.id %>">배송
                                              완료</button>
                                            <% break; default: %>
                                              <button type="button" class="btn btn-secondary status-change" disabled
                                                value="<%= data.id %>">대기 중</button>
                                              <%break; } %>
                                                <% } %>
                  </td>
                  <td class="review">
                    <% if (data.review[0]) { %>
                      <%= "⭐" .repeat(data.review[0].mark) %><br>
                        <%= data.review[0].comment %>
                          <% } else { %>
                            <% if (member===0 && data.status===4) { %>
                              <button type="button" class="btn btn-secondary review-button <%= userId%>"
                                value="<%= data.id %>"><a href="/review_page/<%= data.id %>">리뷰
                                  작성</a></button>

                              <% } else { %>
                                <button type="button" class="btn btn-secondary review-buttont <%= userId%>" disabled
                                  value="<%= data.id %>"><a href="/review_page/<%= data.id %>">리뷰
                                    작성</a></button>
                                <% } %>
                                  <%}%>
                  </td>
                </tr>
                <% } %>
                  <% } catch {%>
            </tbody>

            <h3>주문 목록 리스트가 없습니다.</h3>
            <% } %>

    </table>
  </main>
  </body>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const accept_btn = document.getElementsByClassName('status-change');
      const review_btn = document.getElementsByClassName('review-button');
      for (let i = 0; i < accept_btn.length; i++) {
        accept_btn[i].addEventListener('click', () => {
          const orderId = accept_btn[i].value
          console.log('/api/orders/' + orderId)
          axios({
            method: 'put',
            url: '/api/orders/' + orderId,
            data: {}
          }).then((response) => {
            console.log(response.status);

            window.location.href = '/api/orders/companies'
          }).catch((response) => {
            console.log(response.errorMessage);
            window.location.href = '/api/orders/business'

          })
        })
      }
    })
  </script>

  </html>